@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

:root {
	--color-red: hsl(1, 90%, 64%);
	--color-blue: hsl(219, 85%, 26%);

	--color-white: hsl(0, 0%, 100%);
	--color-very-light-grayish-blue: hsl(210, 60%, 98%);
	--color-light-grayish-1: hsl(211, 68%, 94%);
	--color-light-grayish-2: hsl(205, 33%, 90%);
	--color-grayish-blue: hsl(219, 14%, 63%);
	--color-dark-grayish-blue: hsl(219, 12%, 42%);
	--color-very-dark-blue: hsl(224, 21%, 14%);
}

html,
body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--color-dark-grayish-blue);
	background-color: var(--color-very-light-grayish-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container {
	width: 85%;
	margin: 2.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.2rem;
	padding: 2rem;
	background-color: var(--color-white);
	border-radius: 1rem;
}

header {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	padding: 0 0;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;	
	gap: 0.5rem;
}

h1 {
	font-size: 1.4rem;
	font-weight: 800;
	color: var(--color-very-dark-blue);
}

a {
	text-decoration: none;
	font-weight: bold;
}

button {
	outline: none;
	border: none;
	background: none;
	color: var(--color-grayish-blue);
	cursor: pointer;
}

button:hover {
	color: var(--color-blue);
}

#unread-counter {
	display: inline-block;
	text-align: baseline;
	margin-left: 0.5rem;
	padding: 0 0.7rem;
	border-radius: 0.25rem;
	color: var(--color-white);
	background-color: var(--color-blue);
	font-size: 1rem;
}

.notification {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	border-radius: 0.5rem;
	padding: 1rem;
	align-items: flex-start;
}

.notification-user {
	color: var(--color-very-dark-blue);;
}

.notification-user:hover {
	color: var(--color-blue);
}

.notification-unread {
	background-color: var(--color-very-light-grayish-blue);
}

.notification-unread-indicator-dot {
	display: inline-block;
	background-color: var(--color-red);
	border-radius: 100%;
	width: 10px;
	height: 10px;
	margin-left: 0.5rem;
}

.notification-profile-image {
	grid-column: 1/2;
	grid-row: 1/3;
	width: 50px;
}

.notification-content {
	grid-column: 2/3;
	grid-row: 1/2;
}

.notification-date {
	grid-column: 2/3;
	grid-row: 2/3;
	color: var(--color-grayish-blue);
}

.notification-content-post {
	color: var(--color-dark-grayish-blue);
}

.notification-content-post:hover {
	color: var(--color-blue);
}

.notification-content-group {
	color: var(--color-blue);
}

.notification-message {
	grid-column: 2/4;
	grid-row: 3/4;
	margin-top: 1rem;
	border: 1px solid var(--color-light-grayish-2);
	padding: 1rem;
	border-radius: 0.5rem;
}

.notification-message:hover {
	background-color: var(--color-light-grayish-1);
	border: 1px solid var(--color-light-grayish-1);
	cursor: pointer;
}

.notification-image {
	grid-column: 3/4;
	grid-row: 1/4;
	width: 50px;
}

@media screen and (max-width: 1440px) {
	html,
	body {
		font-size: 14px;
		background-color: var(--color-white);
	}

	#container {
		width: 100%;
		margin: 0;
		padding: 1rem;
	}
	
	main {
		gap: 0.75rem;
	}

	.notification-profile-image, .notification-image {
		width: 35px;
	}
}
